body {
    font-family: 'Montserrat';
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

h2 {
    background-color: #146C78;
    color: white;
    font-variant: small-caps;
    font-family: 'Playfair Display';
    font-size: 48px;
    letter-spacing: 4px;
    text-align: center;
}

h3 {
    font-family: 'Playfair Display';
    color: #146C78;
    letter-spacing: 2px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5em;

}

hgroup {
    text-align: center;
    font-family: 'Playfair Display';
}

footer {
    background-color: #0E91A1;
    color: #FFFFFF;
}

section {
    clear: both;
    padding: 1em 0;
}

.button {
    background-color: #0E91A1;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    flex: 0 0 max-content;
    margin-right: .5em;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.hero {
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 100%;
}

.hero img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

#about-image {

    width: calc(120px + 30vw);
    float: right;
    margin-left: 1em;
    margin-bottom: .5em;
}

#contact {
    background-color: #146C78;
    color: #FFFFFF;
}



#logo {
    height: 100px;
}